<div class="continer-fluid">
<div class="row">

  <div class="col-xs-12 text-center">
    <h1>Ditto</h1>
  </div>

</div>


<div class="row">

  <div class="col-xs-12 text-center">
    <% if current_user %>
        <h4>Hey there, you!</h4>
        <h2><%= current_user.email%></h2>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-xs-12 text-center">

  <form action="/create" method="POST" class="form-inline" role="form">

    <div class="form-group">
        <input 
          type="email"
          name="player2"
          type="text" 
          class="form-control text-center" 
          placeholder="REQUEST THE COMPANY OF A FRIEND">
    </div>

  </div>


  <div class="row">
  <div class="col-xs-12 text-center">

    <div class="form-group">
<br />

    <button 
      type="submit" 
      name="Submit"
      class="btn btn-default">
      Start a game with this joker
      </button>

    </div>

  </div> 
  </div>
  
  </form>

<% @games.user_games(current_user).each do |user_games| %>
  <div class="alert alert-success col-xs-12 text-center">
    <a href="/game/<%= user_games.id %>">Game ID: <%= user_games.id %></a><br />
    Current User: <%= Game.find(user_games.id).logged_in_player(current_user) %><br />
    Other Guy: <%= Game.find(user_games.id).other_player(current_user) %><br />
  </div>
<% end %>

</div>
</div>