<div class="continer-fluid">

<div class="row">

  <div class="col-xs-12 text-center">
    <% if current_user %>
        <h4>Hey there,</h4>
        <h2><%= current_user.email%>!</h2>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-xs-12 text-center">

  <form action="/create" method="POST" class="form-inline" role="form">

    <div class="form-group">
        <input 
          type="email"
          name="player2"
          type="text" 
          class="form-control text-center" 
          placeholder="email address">
    </div>

  <div class="col-xs-12 text-center">

    <p>
    <small>You can't start a match with yourself, so don't. Just don't. <br />
    And you ca only create a game with a player already int he system.
    </small>
    </p>

  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">

    <div class="form-group">
    <button 
      type="submit" 
      name="Submit"
      class="btn btn-default">
      Start a game with this joker
      </button>
    </div>

  </div> 
</div>
  
  </form>

<br />

<div class="row">
  <div class="col-xs-12 text-center">
    <h2>The Here and Now</h2>
  </div>
</div>


<% @games.user_games(current_user).each do |user_game| %>
  <div class="row">
    <div class="col-xs-4"></div>

    <a href="/game/<%= user_game.id %>">  
      <div class="alert alert-success col-xs-4 text-center">
      
      <p>
      ROUND <%= Round.where(game_id: user_game.id).count %><br />
      The Other Guy: <%= Game.find(user_game.id).other_player(current_user) %>
      </p>
      
      </div>
    </a>

    <div class="col-xs-4"></div>
  </div>
<% end %>

<br />


<div class="row">
  <div class="col-xs-12 text-center">
    <h2>The Past</h2>
  </div>
</div>


<% @games.user_complete(current_user).each do |user_game| %>
  <div class="row">
    <div class="col-xs-4"></div>

    <a href="/game/<%= user_game.id %>">  
      <div class="alert alert-danger col-xs-4 text-center">
     
        <p>ROUND <%= Round.where(game_id: user_game.id).count %><br />
        The Other Guy: <%= Game.find(user_game.id).other_player(current_user) %>
        </p>
     
      </div>
    </a>

    <div class="col-xs-4"></div>

</div>

<% end %>

</div>
</div>


